//main colors for the website 
$background-color:#fbfffe;
$text-color:#001514;
$accent-color:#d2691e;



//waring, success and danger colors
$success-color: #28a745;
$waring-color: #ffc107;
$danger-color: #f00920;


